<%#= form_with(model: rweet) do |form| %>
  <%# if rweet.errors.any? %>
<!--    <div style="color: red">-->
<!--      <h2><%#= pluralize(rweet.errors.count, "error") %> prohibited this rweet from being saved:</h2>-->

<!--      <ul>-->
        <%# rweet.errors.each do |error| %>
<!--          <li><%#= error.full_message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

<!--  <div>-->
    <%#= form.submit %>
<!--  </div>-->
<%# end %>

<%= form_with(model: rweet, local: true) do |form| %>
  <% if rweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rweet.errors.count, "error") %> prohibited this rweet from being saved:</h2>

      <ul>
        <% rweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%#= form.label :body%>
<!--    <br>-->

<!--    <input type="text" placeholder="What's new?">-->


    <%= form.text_field :body, placeholder: "What's new?", :id => 'body'%>

  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
