
<%= form_with(model: rweet, local: true) do |form| %>
  <% if rweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rweet.errors.count, "error") %> prohibited this rweet from being saved:</h2>

      <ul>
        <% rweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>

    <%= form.text_field :body, placeholder: "What's new?", :id => 'body' , style: "position: relative;top: 11px;padding: 4px;"%>

  </p>

  <div class="actions ">
    <%= form.submit style: "width: 157px;background-color: var(--rwitter-color);border: none;color: white;font-weight: 900;border-radius: 30px;height: 40px;margin-top: 20px;margin-left: auto;position: relative;left: -427px;top: -64px;" %>
  </div>
<% end %>
