<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

<p style="display: none"><%= notice %></p>

<!-- beginning of sidebar -->

<body style="background-color: #111;position: relative;left: 300px;">
<div class="sidebar">
  <%= image_tag("rwitter-logo.png", size: "40x40", style: "position: relative;left: 16px;") %>

  <%= link_to rweets_path do %>
    <div class="sidebarOption active">
      <span class="material-symbols-outlined"> home </span>
      <h2><span>Home</span></h2>
    </div>
  <% end %>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> search </span>
    <h2>Explore</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> notifications_none </span>
    <h2>Notification</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> mail_outline </span>
    <h2>Messages</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> bookmark_border </span>
    <h2>Bookmarks</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> list_alt </span>
    <h2>Lists</h2>
  </div>

  <%= link_to url_for(root_url+current_user.username) do %>
    <div class="sidebarOption active">
      <span class="material-symbols-outlined"> perm_identity </span>
      <h2><span>Profile</span></h2>
    </div>
  <% end %>

  <%= link_to logout_path do %>
    <div class="sidebarOption active">
      <span class="material-symbols-outlined"> more_horiz </span>
      <h2><span>Log Out</span></h2>
    </div>
  <% end %>

  <%= link_to new_rweet_path do %>
    <button class="sidebar-rweet">Rweet </button>
  <% end %>

</div>


<div class="feed">

  <div class="feed_header">
    <h2>Home</h2>
  </div>

  <div class="rweet-box">
    <form>
      <div class="rweetbox-input">
        <%= image_tag("profile.png", alt: "Example Image", class:"img") %>
<!--        <span class="material-symbols-outlined"> account_circle </span>-->

            <input type="text" placeholder="What's new?" style="padding-left: 5px;">


        <%#= render "form", rweet: @rweet %>

      </div>
      <button class="rweet-box--rweet-button">Rweet</button>
    </form>
  </div>

  <% @rweets.each do |rweet| %>

    <div class="post">
      <div class="post_avatar">
        <%= image_tag("profile.png", alt: "Example Image", class:"img") %>
      </div>

      <div class="post_body">
        <div class="post_header">
          <div class="post_header_text">
            <h3><%= User.find(rweet.user.id).username %>
              <span class="post_header_special">
              <span class="material-symbols-outlined post_badge"> verified </span>@michel  <%= time_ago_in_words(rweet.created_at) %>
            </span>
            </h3>
          </div>
          <div class="post_header_description">
            <p><%= rweet.body %></p>
          </div>
        </div>

        <div class="post_footer">
          <span class="material-symbols-outlined"> repeat </span>
          <%= rweet.likes.count %><span class="material-symbols-outlined"> <%#= (rweet.likes.count) <= 1 ? 'Like' : 'Likes' %> favorite_border </span>
          <span class="material-symbols-outlined"> publish </span>
        </div>
      </div>
      <%= link_to "See More", rweet_path(rweet.id), :method => :get,style: "position: relative;top: 30px;right: 230px;text-decoration: underline;" %>
    </div>

<% end %>

  <div class="post">
    <div class="post_avatar">
      <%= image_tag("profile.png", alt: "Example Image", class:"img") %>
    </div>

    <div class="post_body">
      <div class="post_header">
        <div class="post_header_text">
          <h3>Michel
            <span class="post_header_special">
              <span class="material-symbols-outlined post_badge"> verified </span>@michel
            </span>
          </h3>
        </div>
        <div class="post_header_description">
          <p>After selling Twitter to Elon Musk he gave me this Tesla !</p>
        </div>
      </div>

      <%= image_tag("car.jpg", alt: "Example Image", class:"img") %>

      <div class="post_footer">
        <span class="material-symbols-outlined"> repeat </span>
        <span class="material-symbols-outlined"> favorite_border </span>
        <span class="material-symbols-outlined"> publish </span>
      </div>
    </div>
  </div>

</div>
</body>