<p style="color: green"><%= notice %></p>

<h1>Rweets</h1>

<div id="rweets">
  <% @rweets.each do |rweet| %>
    <p><%= User.find(rweet.user.id).email %></p>
    <p><%= rweet.body %></p>
    <p><%= rweet.likes.count %> <%= (rweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
    <p><% if current_user == rweet.user %>
      <%= link_to "See More", rweet_path(rweet.id), :method => :get %>
    <% end %></p><br>
  <% end %>

  <%# @rweets.each do |rweet| %>
    <%#= render rweet %>
<!--    <p>-->
      <%#= link_to "Show this rweet", rweet %>
<!--    </p>-->
  <%# end %>
</div>

<%= link_to "New rweet", new_rweet_path %>
