<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.0.1/dist/axentix.min.css">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>

<body style="background-color: #111;position: relative;left: 300px;">
<div class="sidebar">

  <%= image_tag("rwitter-logo.png", size: "40x40", style: "position: relative;left: 16px;") %>

  <%= link_to rweets_path do %>
    <div class="sidebarOption active">
      <span class="material-symbols-outlined"> home </span>
      <h2><span>Home</span></h2>
    </div>
  <% end %>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> search </span>
    <h2>Explore</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> notifications_none </span>
    <h2>Notification</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> mail_outline </span>
    <h2>Messages</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> bookmark_border </span>
    <h2>Bookmarks</h2>
  </div>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> list_alt </span>
    <h2>Lists</h2>
  </div>

  <%= link_to url_for(root_url + current_user.username) do %>
    <div class="sidebarOption active">
      <span class="material-symbols-outlined"> perm_identity </span>
      <h2><span>Profile</span></h2>
    </div>
  <% end %>

  <div class="sidebarOption active">
    <span class="material-symbols-outlined"> more_horiz </span>
    <h2>More</h2>
  </div>


  <%= button_to "Rweet", new_rweet_path, :class => "sidebar-rweet" %>

</div>

<div style="width: 60%">

  <%= render @rweet %>

  <% pre_like = @rweet.likes.find { |like| like.user_id == current_user.id } %>
  <% if pre_like %>
    <%= button_to 'Unlike', rweet_like_path(@rweet, pre_like), method: :delete, :class => "sidebar-rweet"  %>
  <% else %>
    <%= button_to 'Like', rweet_likes_path(@rweet), method: :post , :class => "sidebar-rweet" %>
  <% end %>

  <% if current_user == @rweet.user %>
    <%= button_to "Destroy this rweet", @rweet, method: :delete, :class => "sidebar-rweet" %>
  <% end %>

  <div>
    <div>
      <p>Comments</p>
      <%= form_with(model: [@rweet, @rweet.comments.build]) do |f| %>
        <div>
          <%= f.label 'New comment' %>
          <%= f.text_area :body, class: 'form-control rounded-1' %>
        </div>
        <%= f.submit 'Comment', class: 'rweet-box--rweet-button sidebar-rweet' %>
        <p style="color: green"><%= notice %></p>
      <% end %>
    </div>
  </div>

  <%= render @rweet.comments %>
</div>
</body>